<style>
  img{
    border-radius:50%;
  }
  
</style>
<p id="notice"><%= notice %></p>
<div id="overlay" style="display: none">
    <%=image_tag("color.gif",:alt=>"loader",class: "ov") %>
</div>

<div style="display:flex;justify-content: space-between">
    <h1>Customers</h1>
    <div>
        <%= link_to 'New Customer', new_customer_path,class:"btn btn-success" %>
        <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
      <% end %>
    </div>
</div>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Photo</th>
      
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= image_tag customer.photo.url ,class:"img img-responsive"%></td> 
        <td><%= customer.name %></td>
        <td><%= customer.age %></td>
        <td><%= customer.photo %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<script>
    
  </script>