<p id="notice">
  <%= notice %>
</p>

<div class="content">
  <div class="photo">
    <%= image_tag @customer.photo.url ,class:"img img-responsive"%>
  </div>


  <div class="name">
    <%= @customer.name %>
  </div>


  <div class="fp">
    <strong>Facebook Profile</strong><br>
    <%=link_to @missing.split(' ')[1] , @missing.split(' ')[1]  %> 
  </div>

  <div class="fp1">
    <strong> Twitter Profile</strong><br>
    <%=link_to @missing.split(' ')[0] , @missing.split(' ')[0]  %> 
  </div>


  <div class="fp2">
    <strong>Linkedin Profile</strong><br>
     
  </div>

</div>
<br><br>
<div class="row text-center">
    <%=link_to 'Edit' , edit_customer_path(@customer),class:" btn btn-info" %>
    <%=link_to 'Back' , customers_path, class:" btn btn-info" %>
</div>

